.swiper-slide {
    height: 200px;
}

@media (min-width: 768px) {
    .swiper-hero .swiper-slide {
        height: 300px;
    }
}

@media (min-width: 1200px) {
    .swiper-hero .swiper-slide {
        height: 600px;
    }
}

@media (min-width: 2560px) {
    .swiper-hero .swiper-slide {
        height: 800px;
    }
}

/* Pagination bullets */
.swiper-pagination-bullet {
    vertical-align: middle;
    --swiper-pagination-bullet-size: 8px;
}

.swiper-pagination-bullet-active {
    background-color: #ffffff;
    --swiper-pagination-bullet-size: 12px;
}

.swiper-button-prev,
.swiper-button-next {
    --swiper-navigation-size: 30px;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
